@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #FF8400;
}

html, body {
    height: 100%;
    font-family: "burbank", sans-serif;
    font-size: 120%;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 70%;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

@font-face {
    font-family: 'burbank' ;
    src: url('Burbank\ Big\ Condensed\ Black.ttf') format('truetype');
    font-weight: 'normal';
    font-style: 'normal';
}

.altera-fonte-btn{
    font-size: 1.2em;
}

.pagination-align{
  font-size: 24px;
  width: 100px;
  height: 100px;
}